BasedOnStyle: llvm

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120

#AlignAfterOpenBracket: false
AlignTrailingComments: false
ReflowComments: false
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All

NamespaceIndentation: Inner
SpaceBeforeParens: Never
FixNamespaceComments: false
Standard: Cpp11
