extern/steamworks/
mods/
*.kep
*.aut
*.sit
*.ret
*.swp
*.adv
version.h
data
sound_wav
stdafx.h.*
installid.txt
installId.txt
options.txt
sokoban_state.txt
system_info.txt
stacktrace.out
KeeperRL.config
KeeperRL.files
KeeperRL.includes
keeper
keeper.exe
steam_api.dll
steam_api64.dll
gen_version
log.gz
libsteam_api.so
