extern/steamworks
mods/
build/
build_kde/
html/
obj-*/
.cache/
.vscode/
.kdev4/
*.kdev4
/*.png
unlocks.txt
keybindings.txt
tmp/
tmp2/
find
gameplay.txt
highscores.dat
libeasy_profiler.so
parse_game
*.kep
*.aut
*.sit
*.ret
*.swp
*.adv
*.cam
*.war
version.h
data
sound_wav
stdafx.h.*
installid.txt
installId.txt
options.txt
sokoban_state.txt
system_info.txt
stacktrace.out
KeeperRL.cflags
KeeperRL.cxxflags
KeeperRL.creator*
KeeperRL.config
KeeperRL.files
KeeperRL.includes
keeper
keeper.exe
steam_api.dll
steam_api64.dll
gen_version
log.gz
libsteam_api.so
worldgen_out.txt
